{header%header}
{error:}
<form method="get" action="{url:}" name="repo_form" onsubmit="return validate(this);">
  <input type="hidden" name="cmd" value="{command:escape}" />
  <input type="hidden" name="lang" value="{lang:escape}" />
  <input type="hidden" name="create" value="yes" />
  <table class="bordered" id="create-repo">
    <thead><tr><th colspan="2">Subversion 版本库设置</th></tr></thead>
    <tbody>
      <tr>
        <th><label for="folder">文件夹：</label></th>
        <td>
          <select id="folder" name="folder" data-sel="{folder:escape}">
            {repo-folders#repo-folder}
          </select>
          <span class="required">必需</span>
        </td>
        </td>
      </tr>
      <tr>
        <th><label for="repo">名称：</label></th>
        <td>
          <input type="text" name="repo" id="repo" required="required" onchange="restoreField(this);"
                 placeholder="名称（3-30 字符，允许 A-Z、a-z、0-9、_.-）"
                 pattern="[a-zA-Z0-9_\-\.]{3,30}" value="{repo:escape}" /> <span class="required">必需</span>
        </td>
      </tr>
      <tr>
        <th><label for="realm">认证名：</label></th>
        <td>
          <input type="text" name="realm" id="realm" required="required" onchange="restoreField(this);"
                 placeholder="认证名（3-60 字符，不含 ^`&%#?*{}[]）"
                 pattern="^[a-zA-Z0-9_\-\.,()\s\u4e00-\u9fa5]{1,30}$" value="{realm:escape}" />
          <span class="required">必需</span>
        </td>
      </tr>
      <tr>
        <th><label for="format_bdb">格式：</label></th>
        <td id="repo-fmt-box" data-fmt="{format:escape}">
          <span><input type="radio" name="format" value="bdb" id="fmt_bdb" />BDB</span>
          <span><input type="radio" name="format" value="fsfs" id="fmt_fsfs" checked="checked" />FSFS</span>
          <span><input type="radio" name="format" value="fsx" id="fmt_fsx" data-support="{has-fsx:}" />FSX</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="submit"><input id="submit-repo" type="submit" value="创建" /></div>
</form>
<div id="error-hint" class="hidden" style="display: none;" onclick="hideErrorHint0();">
  <p>请检查红色项目的输入值。</p>
</div>
{footer%footer}