<?xml version="1.0" encoding="{encoding:}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
<head>
  <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFkAAABZCAMAAABi1XidAAAAdVBMVEVHcEx/m8h3lcT3+fx8
    mcZ5l8V+mseAnMj///+ZmZlzksODnsn8/f7y9fnm6/S+zOOKo8yasNOGoMvg5/LT3Oy4x+CQqM+htdba4u+mudiyw97K1ejO2eqtvtuVrNHt8ffE0eW
    Jm7fa2tuTmqSHmbexsbGcoai3+1dhAAAAAXRSTlMAQObYZgAAA+ZJREFUeF5iGN5gFIyCUQBgx16X48SBKACXmu6WIxAIcb+TONn3f8QVIyrOjrAXiK
    vyJ+cBvuo5mhqp58tnJnQ/3/7y+XmDX7/KO2EERXGdT2Mavez59sPTHr7jCgaFdp6ydtnNn/ZO34MR0ObVWGiPhfQDfr02KiMS5W7UKDSTtMy62bw69
    drIDkUROzVKns1IF+M0S2R0+b7LpwsANE1Vajfaf9GlGKrcMCELIeSWCzIpZZp+SINR07FqagmKWPpckQUB5/2YRs9qsXVKCrx6TRaMyKZZCx0c1drN
    MQKhV6/JTIC2ntpnNVrKfmZCZF/qRZlJybrJgmKXNmv4rdXLMgLXfbkE7NjXBORHvS4LJJqzNmD12hjh2RuyQGTOs+BrkCxDHgt/XHdkBrRBtS667GL
    y53VLJiXyrHgJ0lY1+Q5uyQy4/RwEbLQ2sfLuHZkRTd/qcFydzajwLBfKFDflxoauQWR5I2KX+/TlIMloFF/iBDMjASiAXX45iu7gfA1MDgREtmbOu6
    mvPpB1DuL/QSZPmrmZqnVs2yL1N80HcqXeuaoYGX2I67zrnVcsWj9dMh/IGTxuCCmEv/h8BMexdd42YLFEya/cWTmqZssECgBEbE09542rbx3aVAfee
    dlHF+UwrMMwlFt7Tx/3hnw/f+W/chJF0ZIWbVkO69r3U7aWxZLclyO9pG1bDlnfNXNd25gJgHyAzZRelSOdtuOaVVOXzyZGpZTjkFkI+WtYGX1KTjbQ
    jffmedBzhxHp+3KSJHppy3WbrzY2FkhbTt0qAprkSHbtZb3jLCIx+jBfeAQgNPqwZ/DDnaXCgWX1zndD/lYIusJZny0LoubolbLLj6vjBsuIsisCNyo
    ms8uIfONdQYrr6mBvyWYm3OU+i/vMXqJZQd0NwYu12N5qG7TLZRqPi8UL5YLphuWZTTPHgnPfZGs4NieL5ke54xI9T5vlFgmf3nWMkvGMioRsu1InYb
    foIqS8IzMAmrwqk2AjqmogfqiBHFuOPz5ABMVzuMEmxTDV6Ks9lIfWDq15j2YCqKeh1cGK0ecW1d7BsZwNoholH54WslPTsNm1MTHBExvIiBI5OCwga
    WanBtu2bvtaIjJf3QcFk1LC5E0VbprJ0madAWBxdR9kBIUmn7JyGzUoNutq2Bfj07IQAomknae1TfXBfdg6VQKQlFd22O/IyLapxuLoxZnoomqsYCKW
    Z/N1l/+pBv9bGESnZZUTEV68cF43eaO/HalLMVZ5TMEedHZkJ4d08vhzyJIiFvIe7GRP//hp6zZrZhODInTqHffVw57+03/m/vl/oP8dA1lgFIyCUTA
    KAIPQxgdlbo4DAAAAAElFTkSuQmCC" type="image/png" />
  <meta name="robots" content="index, nofollow" />
  <meta http-equiv="content-Type" content="text/html; charset={encoding:}">
  <link rel="stylesheet" href="{static:addslash}default.css" type="text/css" />
  <link rel="stylesheet" href="{static-lang:addslash}custom.css" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="{url:}?cmd=rss&repo={repo-id:urlescape}" />
  <script type="text/javascript" src="{static:addslash}default.js"></script>
  {inc%inc}
  <title>{title%title}</title>
</head>

<body>
  <div class="_wrap">
    <div class="_header">
      <a href="http://www.han-soft.com/svnexplorer.php" title="SvnExplorer">&nbsp;</a>
      {language%language}
    </div>
    <div class="_body">
      <div class="_menubar" id="menu">
        <div id="_repo"></div>
        <div id="_menu"><ul>{menu%menu}</ul></div>
        <div id="_toggle" onclick="toggleMenu(1)"></div>
      </div>
      <div class="_content">
          <div class="_title">{caption%caption} {search%search}</div>
          <div class="_main">
