<li><a href="{url:}?lang={lang:urlescape}&cmd=repos"
       class="repos" title="版本库列表">版本库</a></li>
<li><a href="{url:}?lang={lang:urlescape}&cmd=summary&repo={repo:urlescape}"
       class="summary" title="版本库摘要">摘要</a></li>
<li><a href="{url:}?lang={lang:urlescape}&cmd=logs&repo={repo:urlescape}&rev={repo-rev:}"
       class="logs" title="版本库日志">日志</a></li>
<li><a href="{url:}?lang={lang:urlescape}&cmd=files&repo={repo:urlescape}&rev={repo-rev:}"
       class="files" title="版本库文件">文件</a></li>
