          </div>
          <div class="_tailer">
            {repo-feed%repo-feed}
            {tailer%tailer}
          </div>
      </div>
    </div>
    <div class="_footer">
        <p>Copyright &copy; 2001, 2017  <a href="http://www.Han-soft.com">Han-soft</a> software, all rights reserved.
           Powered by <a href="http://subversion.apache.org">Subversion</a> {svn-version:} ({svn-revision:}).</p>
    </div>
  </div>
  <script type="text/javascript">toggleMenu(0); emptyTable(); {js%js}</script>
</body>
</html>
