<li><a href="{url:}?lang={lang:urlescape}&cmd=repos"
       class="repos" title="Repositories list">Repositories</a></li>
<li><a href="{url:}?lang={lang:urlescape}&cmd=summary&repo={repo:urlescape}"
       class="summary" title="Repositories summary">Summary</a></li>
<li><a href="{url:}?lang={lang:urlescape}&cmd=logs&repo={repo:urlescape}&rev={repo-rev:}"
       class="logs" title="Repositories logs">Logs</a></li>
<li><a href="{url:}?lang={lang:urlescape}&cmd=files&repo={repo:urlescape}&rev={repo-rev:}"
       class="files" title="Repositories files">Files</a></li>
