<a name="props"></a>
<table id="props-list" class="bordered">
  <thead>
    <tr class="up" onclick="foldTable('props-list');"><th colspan="3">Properties ({props-count:})</th></tr>
    <tr>
      <th class="name" onclick="sortTable('props-list', 0, 'text')">Name</th>
      <th class="value" onclick="sortTable('props-list', 1, 'text')">Value</th>
    </tr>
  </thead>
  <tbody>
    {props-list#props-entry}
  </tbody>
</table>