{header%header}
<table id="error" class="bordered">
  <thead>
    <tr class="up" onclick="foldTable('error');"><th colspan="4">错误</th></tr>
  </thead>
  <tbody>
    <tr><td><pre>{err:escape}-{sub:escape}: {msg:escape}</pre></td></tr>
  </tbody>
</table>
{footer%footer}
