<ul class="submenu">
  <li>
    <a class="summary" href="#overview" onclick="foldTable('summary-overview', true);"
       title="版本库概要">概要</a>
  </li>
  <li>
    <a class="logs" href="#logs" onclick="foldTable('logs-list', true);"
       title="版本库日志">日志</a>
  </li>
  <li data-display="{has-readme:}">
    <a class="readme" href="#readme" onclick="foldTable('readme', true);"
       title="版本库简介">简介</a>
  </li>
</ul>