<item>
  <title>{messages:trim|firstline|trim|unicode|escape|noempty}</title>
  <description>
    <![CDATA[ {messages:trim|escape|addbreaks|nonempty} ]]>
  </description>
  <author>{author:unicode|escape}</author>
  <pubDate>{date:localdate|date^rssdate}</pubDate>
  <link>{host:}{url:}?lang={lang:urlescape|escape}&amp;cmd=rev&amp;repo={repo:urlescape|escape}&amp;path={path:urlescape|escape}&amp;rev={rev:}</link>
  <guid isPermaLink="true">{host:}{url:}?lang={lang:urlescape|escape}&amp;cmd=rev&amp;repo={repo:escape}&amp;path={path:escape}&amp;rev={rev:}</guid>
</item>