<?xml version="1.0" encoding="{encoding:}" ?>
<rss version="2.0" >
  <channel>
    <title>Subversion 版本库日志：{repo:escape} - {path:escape}</title>
    <description>Subversion 版本库 {repo:escape} 路径 {path:escape} 的版本日志。</description>
    <link>{host:}{url:}?lang={lang:urlescape|escape}&amp;cmd=logs&amp;repo={repo:urlescape|escape}&amp;path={path:urlescape|escape}</link>
    <language>en-us</language>
    {feed-entry#rss-item}
  </channel>
</rss>