<ul class="submenu">
  <li>
    <a class="dir" href="#overview" onclick="foldTable('rev-overview', true);" title="版本概要">概要</a>
  </li>
  <li>
    <a class="files" href="#paths" onclick="foldTable('paths-list', true);" title="所做修改">修改</a>
  </li>
  <li>
    <a class="props" href="#props" onclick="foldTable('props-list', true);" title="版本属性">属性</a>
  </li>
</ul>