<ul class="submenu">
  <li><a class="summary" href="#overview" onclick="foldTable('path-overview', true);" title="文件概要">概要</a></li>
  <li><a class="blame" href="#annotation" onclick="foldTable('anno-list', true);" title="文件注释">注释</a></li>
</ul>