{header%header}
{path-overview%path-overview}
<br />
<a name="annotation"></a>
<table id="anno-list" class="bordered">
  <thead>
    <tr class="up" onclick="foldTable('anno-list');">
      <th colspan="5">注释</th>
    </tr>
    <tr>
      <th class="rev">版本</th>
      <th class="date">时间</th>
      <th class="author">作者</th>
      <th class="lineno">行号</th>
      <th class="source">源文字</th>
    </tr>
  </thead>
  <tbody>
    {anno-list#anno-entry}
  </tbody>
</table>
{footer%footer}
