<div class="count"><span class="title">Total:</span> {logs-count:}</div>
<div class="navi">
  <form action="{url:}" method="get">
    <input type="hidden" name="cmd" value="logs" />
    <input type="hidden" name="repo" value="{repo:escape}" />
    <input type="hidden" name="path" value="{path:escape}" />
    <input type="hidden" name="find" value="{find:escape}" />
    <input type="hidden" name="lang" value="{lang:escape}" />
    <label for="navi-rev">Start revision:</label>
    <input name="rev" id="navi-rev" type="text" placeholder="Start revision" pattern="[0-9]+" value="{max-rev:}" />
    <label for="navi-count">Count:</label>
    <input name="count" id="navi-count" type="text" placeholder="revision count" pattern="[0-9]+" value="{count:}" />
    <input type="submit" id="navi-go" value="Show" />
  </form>
</div>
<ul class="submenu">
  <li data-head="{is-head:}">
    <a href="{url:}?lang={lang:urlescape}&cmd=logs&repo={repo:urlescape}&path={path:urlescape}&rev={repo-rev:}&count={count:}&find={find:urlescape}"
       class="head" title="Show revison from Head">Head</a></li>
  <li data-forward-rev="{new-rev:}" data-head="{is-head:}">
    <a href="{url:}?lang={lang:urlescape}&cmd=logs&repo={repo:urlescape}&path={path:urlescape}&rev={new-rev:}&count={count:}&find={find:urlescape}"
       class="forward" title="Show newer revision logs">Newer</a></li>
  <li data-backward-rev="{old-rev:}">
    <a href="{url:}?lang={lang:urlescape}&cmd=logs&repo={repo:urlescape}&path={path:urlescape}&rev={old-rev:}&count={count:}&find={find:urlescape}"
       class="backward" title="Show older revision logs">Older</a></li>
  <li data-less-count="{count:}">
    <a href="{url:}?lang={lang:urlescape}&cmd=logs&repo={repo:urlescape}&path={path:urlescape}&rev={rev:}&count={count-less:}&find={find:urlescape}"
       class="less" title="Show less revision logs">Less</a></li>
  <li data-more-count="{count:}">
    <a href="{url:}?lang={lang:urlescape}&cmd=logs&repo={repo:urlescape}&path={path:urlescape}&rev={rev:}&count={count-more:}&find={find:urlescape}"
       class="more" title="Show more revision logs">More</a></li>
  <li><a class="{path-kind:}" href="#overview" onclick="foldTable('path-overview', true);" title="Overview">Oerview</a></li>
  <li><a class="logs" href="#logs" onclick="foldTable('logss-list', true);" title="Logs">Logs</a></li>
</ul>