{header%header}
<a name="overview"></a>
<table id="rev-overview" class="bordered" >
  <thead>
    <tr class="up" onclick="foldTable('rev-overview');"><th colspan="4">Overview</th></tr>
  </thead>
  <tbody>
    <tr>
      <th>Revision</th>
      <td>{rev:escape} <span class="tag" data-head="{rev-head:}">Head</span></td>
      <td class="actions">
        <a href="{url:}?lang={lang:urlescape}&cmd=files&rev={rev:}&repo={repo:urlescape}"
           class="files" title="Revision {rev:} files">Files</a>
        <a href="{url:}?lang={lang:urlescape}&cmd=zip&rev={rev:}&repo={repo:urlescape}"
           class="zip" title="Download revision {rev:}">Download</a>
      </td>
    </tr>
    <tr><th>Author</th><td colspan="2">{repo-last-author:escape}</td></tr>
    <tr><th>Date</th><td colspan="2">{repo-last-date:localdate|date^shorttime}</td></tr>
    <tr><th>Operation</th>
      <td class="log-op" colspan="2">
        <span class="add {add:}">Added</span>
        <span class="delete {delete:}">Deleted</span>
        <span class="modify {modify:}">Modified</span>
        <span class="replace {replace:}">Replaced</span>
      </td>
    </tr>
    <tr><th>Modified</th>
      <td class="log-mods" colspan="2">
        <span class="text {text-mods:}">Content</span>
        <span class="prop {prop-mods:}">Properties</span>
      </td>
    </tr>
    <tr><th>Object</th>
      <td class="log-kind" colspan="2">
        <span class="file {file:}">File</span>
        <span class="dir {dir:}">Directory</span>
      </td>
    </tr>
    <tr><th>Message</th>
      <td class="log-msg" colspan="2">
        <pre>{rev-messages:unicode|escape}</pre>
      </td>
    </tr>
  </tbody>
</table>
<br />
<a name="paths"></a>
<table id="paths-list" class="bordered">
  <thead>
    <tr class="up" onclick="foldTable('paths-list');"><th colspan="4">Modified ({paths-count:})</th></tr>
    <tr>
      <th class="operation" onclick="sortTable('paths-list', 0, 'op')">Operation</th>
      <th class="path" onclick="sortTable('paths-list', 1, 'link')">Path</th>
      <th class="mods">Modified</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    {paths-list#paths-entry}
  </tbody>
</table>
<br />
{props-list%props-list}
{footer%footer}
