<ul class="submenu">
  <li>
    <a class="dir" href="#overview" onclick="foldTable('rev-overview', true);" title="Revision overview">Oerview</a>
  </li>
  <li>
    <a class="files" href="#paths" onclick="foldTable('paths-list', true);" title="Modified paths">Modified</a>
  </li>
  <li>
    <a class="props" href="#props" onclick="foldTable('props-list', true);" title="Revision properties">Properties</a>
  </li>
</ul>