<ul class="submenu">
  <li>
    <a class="summary" href="#overview" onclick="foldTable('summary-overview', true);"
       title="Repository overview">Oerview</a>
  </li>
  <li>
    <a class="logs" href="#logs" onclick="foldTable('logs-list', true);"
       title="Repository logs">Logs</a>
  </li>
  <li data-display="{has-readme:}">
    <a class="readme" href="#readme" onclick="foldTable('readme', true);"
       title="Repository description">Description</a>
  </li>
</ul>