<li class="{op:} parity{parity:}">
    <span data-op="{op:}" class="prop-add">Added: {name:escape}</span>
    <span data-op="{op:}" class="prop-delete">Deleted: {name:escape}</span>
    <span data-op="{op:}" class="prop-modify">Mpdified: {name:escape}</span>
    {lines-list:}
</li>