{header%header}
{path-overview%path-overview}
<br />
<a name="diff"></a>
<table id="file-diff" class="bordered">
  <thead><tr class="up" onclick="foldTable('file-diff');"><th colspan="4">Diff ({diff-count:})</th></tr></thead>
  <tbody>
    {diffs-list#diff-entry}
  </tbody>
</table>
{footer%footer}
