/* Menu */

  #_menu ul { list-style-type: none; margin: 0; padding: 0; width: 100%; font-size: 90%; }
  #_menu ul li { border-top: 1px #e0e0e0 solid; border-bottom: 1px #e0e0e0 solid; width: 100%; overflow: hidden; }
  #_menu ul li.actived { background-color: #d8d8d8; border-bottom: 1px #c0c0c0 solid; border-top: 1px #c0c0c0 solid; }
  #_menu ul li:hover, #_menu ul li:focus { background-color: #d0d0d0; border-bottom: 1px #c0c0c0 solid;
    border-top: 1px #c0c0c0 solid; }
  #_menu ul li:active { background-color: #c8c8c8; }
  #_menu ul li:first-child.actived { border-top: 1px #d8d8d8 solid; }
  #_menu ul li:first-child:hover, #_menu ul li:first-child:focus { border-top: 1px #d0d0d0 solid; }
  #_menu ul li:first-child:active { border-top: 1px #c8c8c8 solid; }
  #_menu ul li:first-child { border-bottom: 1px #c0c0c0 solid; }
  #_menu ul li:nth-child(2).actived { border-top: 1px #d8d8d8 solid; }
  #_menu ul li:nth-child(2):hover, #_menu ul li:nth-child(2):focus { border-top: 1px #d0d0d0 solid; }
  #_menu ul li:nth-child(2):active { border-top: 1px #c8c8c8 solid; }
  #_menu ul li.actived+li:hover, #_menu ul li.actived+li:focus { border-top: 1px #d0d0d0 solid; }
  #_menu ul li.actived+li:active { border-top: 1px #c8c8c8 solid; }
  #_menu ul li.pri-actived:hover, #_menu ul li.pri-actived:focus { border-bottom: 1px #d0d0d0 solid; }
  #_menu ul li.pri-actived:active { border-bottom: 1px #c8c8c8 solid; }
  #_menu ul li a { display: block; height: 18px; width: 100%; padding: 10px 8px 8px 35px; background-repeat: no-repeat;
    background-clip: padding-box; background-origin: padding-box; background-size: 32px 108px;
    background-position: 0 0; }
  #_menu ul li.actived a, #_menu ul li a:hover, #_menu ul li a:focus { background-position: 0 -36px; }
  #_menu ul li a:active { background-position: 0 -72px; }

  /* For repos menu */

  #_menu ul li:first-child a { padding-top: 14px; padding-bottom: 12px; background-size: 32px 132px; }
  #_menu ul li.actived:first-child a, #_menu ul li:first-child a:hover, #_menu ul li:first-child a:focus {
    background-position: 0 -44px; }
  #_menu ul li:first-child a:active { background-position: 0 -88px; }

/* Submenu */

  .submenu { height: 32px; padding: 0; margin: 0; overflow: hidden; white-space: nowrap; list-style-type: none;
    position: absolute; right: 0; }
  .submenu li { display: block; height: 100%; padding: 0; border-left: 1px solid #c0c0c0; background-color: #e0e0e0;
    float: left; }
  .submenu li.actived { background-color: #d8d8d8; }
  .submenu li:hover, .submenu a:focus { background-color: #d0d0d0; }
  .submenu li:active { background-color: #c8c8c8; }
  .submenu li a { display: block; height: 100%; padding: 10px 8px 8px 26px; background-repeat: no-repeat;
    background-clip: padding-box; background-origin: padding-box; background-size: 26px 87px;
    background-position: 0 2px; }
  .submenu li.actived a, .submenu li a:hover, .submenu li a:focus { background-position: 0 -27px; }
  .submenu li a:active { background-position: 0 -56px; }

  .submenu li[data-less-count="10"], .submenu li[data-more-count="200"] { display: none; }
  .submenu li[data-backward-rev="0"], .submenu li[data-forward-rev="0"], .submenu li[data-head*="yes"],
  .submenu li[data-backward-rev="99999998"] { display: none; }

/* Actions */

  td.actions { padding: 0; }
  td.actions a { height: 26px; width: 0; margin: 0; padding: 0 0 0 22px; cursor: pointer; display: block; float: left;
    overflow: hidden; color: transparent; background-size: 26px 96px; background-position: 0 -3px;
    background-clip: padding-box; background-origin: padding-box; background-repeat: no-repeat; }
  td.actions a:hover, td.actions a:focus { background-position: 0 -35px; }
  td.actions a:active { background-position: 0 -67px; }
  td.actions a.deactived { display: none; }

/* Link */

  td.link, th.link { padding: 0; }
  td.link a, th.link a { height: 18px; padding: 4px 4px 4px 25px; cursor: pointer; display: block; float: left;
    overflow: hidden; background-size: 26px 96px; background-position: 0 -4px; background-clip: padding-box;
    background-origin: padding-box; background-repeat: no-repeat; }
  td.link a:hover, td.link a:focus, th.link a:hover, th.link a:focus { background-position: 0 -36px; }
  td.link a:active, th.link a:active { background-position: 0 -68px; }
  td.link a.deactived { display: none; }
  td.link span.text { line-height: 26px; }
  td.right a, th.right a { width: 60px; float: right; }

/* Items */

  a.summary { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcE \
    z/oAD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAZ1JREFUeF7t0j2qAyEUBWB/nhAkYJVNZBOZFOktxv2ElG8VloOrGMgCshUXMOAzcyBXLyleinR \
    zmqsfchqveJMtp1Kz0F2XNfMLHCATrEe3UAUeN4BRMHBaOBQGmoEutSY34LKedQ/73IG+70+lBeGcy22pK87dcw+PB4PZMVhODMr3AeMj0M9v011p \
    ueNz6a1+A5nDzDsEga6ACvpsjQpaB40KWhhdRAPYObZ0ma/lLP6ZLVsOoWakuwxrhhcYgCdYj2akCjxuACNg4DRyCAwkAxlqjW/AeDnIHn58B/L8c \
    wgtCGOMb0tNMObse7hcGAyGwXhgEL4PGB+BfH6b7ErDGZ9Lb+Ub8BwG3iEIZAVU0GdLVNA6SFTQwsggGsDOsaXzfC0H8c9s2XJMNRPdVVpzfYEFRI \
    L1aCeqwOMGMBIGThOHxEAxUKnWxAZsVFfVwy52oG67Y2pBWGtjW2qTtbfYw+8vg6tlMB0ZpO8Dxkegnt+mutJ0w+fSW/UGIocr7xAEqgIq6LMVKmg \
    dFCpoYVQSDWDn2NJFtpao4NnyB+/4UiZnGah5AAAAAElFTkSuQmCC"); }
  a.files { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/ \
    AACQkJD/oAAjRoiMAAAAAXRSTlMAQObYZgAAAVxJREFUeF7tkr2NhDAQhf0jJ06cHD2cqOEkKGEDth9K2RBtFZREAUh7nhk0PODEBURIfok1n8fv2 \
    fKYv1T0zuqhdgReACKBAUDdUxcCPtbvAJh8MwCToZZoDV2AmsQXg6gmsa8dbTsAkS7qzjpouQocPX8bm3XouHFsBNDLDyuIb5ZR4LgeVmAYsIWaoZ \
    z0wgSJJYBaLXDmcKLOVVT0yRqh9gQmAInADKAZqQsBHxt3AEx+GIDJ3Ei0hi5ATdLEIKlJGhtP2x5Aoov6sw5argJPz9/GZh06bhybAIzywwrSh2U \
    UeK7nFZhGR0jNUF56YYLEEkDDYMKZA8//VVT0zGqhtgQeAAKBDkDVUhcCPtbuAJh8MQCTrpJoDV2AmoQHg6Amoa0sbVsAgS5qzzpouQosPX8bm3Xo \
    uHFsANDKDysIT5ZRYLnuVmAYsIWaoaz0wgSJJYBKLHDmcCxRRb++uDIigG26MwAAAABJRU5ErkJggg=="); }
  a.logs { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVH \
    cEz/oAD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAPhJREFUeF7tkjFqxDAQRUcSatSo2kv4EisV7mVI7mNU+hTCVcgpDDqAryJwu5DYnmIECWaxw \
    dW88sH8+cWHf2AUqAkmIOxkiypHYs7zkpcqYs4rC4XYbJe5ZLp5lmexxb5I/OxcE1j7hLj3C1efNqFIWAylfSgU1QxRwHswjADhwAGhnQ4iHInWt5 \
    3vqojWr3QUor3u2uDp5hEeQQf9QeJz55rA2ifEvV+4utuEIKExlPYhUFQzRAHvwTASZA89EKY3SaYjMcRhjGMVMcSVkUJMNOOQIt00qUkmmS8S3zv \
    XBNY+Ie79wtX7TUgSBkNpHxJFNUMU8BfmF95bPvQj3SGDAAAAAElFTkSuQmCC"); }
  a.help { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEUAAACQk \
    JD/oAD/AAAVT7fSAAAAAXRSTlMAQObYZgAAAcxJREFUSMftksutgzAURAGUTTZZ0QRNQAlZ4H5cSpaWq3BJKcCS34iRGH8eKAUwwlgc3x/3urv1rx \
    7v6tuYgvQGWgsDaMsA7AFzj52u8tiqRNO6220KgQdLQTbWQUPaTsaAriobwCgqTsyK1H0F1iPNxDxrJwA1oG+BKsPOn51yMG0FYEsEGEKALRHATrB \
    dAEjg6EPfgLcapJ0nXA/1lFkmAMoQmGxQcGESReO7Gvb5dcCc3g+zXV0pzlZiS2/d+l3PT/XtfUEGD9nCAHIZgD1g7rFTKw9XJZrtbucUAg+WgjjW \
    QUPazt6DWpUN4BUVJ94i9VABe6SZmcd2AlADhhaoMuz82TkHsysAWyLAEAJsiQB2AncBIIGjD0MDPmqQdp5wPdVTZpkBKE/gs0HBhUkUje9q2OfXA \
    XP6PL27ulKcrcSW3rr1u17f6julgowJCoUBFDMAe8DcY6dBHrFKtITdLioEHiwFiayDhrRdUgINKhsgKSpOUkDqsQLhSLMwT+gEoAaMLVBl2PmzSw \
    6WWAC2RIAhBNgSAewE8QJAAkcfxgZ81SDtPOF6qafMsgBQiSBlg4ILkyga39Wwz68D5vR9pXh1pThbiS29JUl/7lLy3cbSzkkAAAAASUVORK5CYII \
    ="); }
  a.repos { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAEIAgMAAACSexr4AAAADFBMVEVHcEz/ \
    oAD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAcBJREFUeF7tkTGKwzAQRdc2btyk8iV8ibjZPgvWfVzvKcJWRqfwDfYqgW0NWn8UyJsJuEiVQlMI5 \
    vH152v08dZVqlkdOG8OpGT7U0o3J7CSJt1OaaVl2kWbEchmhaVO2Gb1+WGbxQ3A3foA4ApMTwB5LIGCGaDoBH9pbdIvc5y3fWUEWhCAGkHmON3M4x \
    S14RRFPRugsQSrlty4sRufL8cVQM3GfagTe/4GZs+UkrQdfbZyS0AJLLF42jqBgr1apUqVqkYH+smBEGzfhnBxAiupwqUNtO3DLpqMQDYjLHXCNqv \
    7h20WVwB36wOAKzBtAfJYAgUzQNEJvsJYhU/m6Kd9ZQRaEIAaQeZoL+ZxilpxiqL2BmgswaglV27sxOfLcQRQM3Ef6sSev4HZM6UkTEefrdwSUAJL \
    LJ62TqBgr1apUqXq2YFhcSBG23cxXp3ASup47SJth7iLFiOQzQxLnbDN6uFhm8U1wN36AOAKTDuAPJZAwQxQdIKfONfxmzmGZV8ZgRYEoEaQObqre \
    Zyi1pyiqIMBGkswa8m1G7vw+XKcAdQs3Ic6sedvYPZMKYnL0WcrtwSUwBKLp60TKNg7V6l/AucXQL6MukEAAAAASUVORK5CYII="); }
  a.create { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz \
    /oAD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAaBJREFUeF7tks3NgzAMhmkrLr30lCW6RBkhB7IPo+SIMgUjZQCkfI7c+o39UcoAvBICP8T/6TZ1 \
    6pENKEXbr1LW1r4V0tJGqGC1oCiwdMrnliu0mSUIUsvn+g6EKuhZ6LUI4F4EPCogt1f+gPUnyIBcwAYoJBRSMs9jB4gLYtCE8tcsMB6HS0f7AIseE \
    P9SYMVMMW/GWBx55Hb5dIyoqNhlv+Q6wKe2a47sXjq0fkinTvXegBC07UIYW/sSSEMboYLRgqDA0Cmfi6/wX+bRAIcg4zsQqqBnoNcggHsR0FdAbs \
    5/wPgTeIEstwECCYUEz/PYAdbF+Toh/zULjP5w6WgfYNAD4l8KjJgp5s0YiyMP3y6fjhEVBbtsJ9cBPrVdc2T30qH1Qzp16h4NSEnbz5Tm1r4m0tR \
    GqGC2ICkwdcrnGiu0mSUIUsvn/A6EKuiZ6DUJ4F4E3Csgt2f8gPkniIBcwAZIJBSSIs9jB4gLYtCE4tcsMO6HS0f7AJMeEP9SYMZMMW/GWBx5xHb5 \
    dIyoKNllP+U6wKe2a47sXjq0bnTqD1qHMJCjxHbIAAAAAElFTkSuQmCC"); }
  a.edit { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/o \
    AD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAaFJREFUeF7t0T1uxCAUhdGHLRoaUoz7lCNXWcBIdnbgAvZjZSUuEauwNBvyApCI+DHjS2Slm8pfef \
    S4DfS3q9aHDuATfOGBa8uNjLC1fs0wRFgffgOgYdjBu/RSugzpVLZPhIHcBuAeAx2h3ZwEkM8NYZBrlAJuaNehQJ7wBeLEo31BmgAIEwBhAmFzFdA \
    G0K5yrcATgncI0hNCSxXQ+0CewuDhjwOkCshT2Ci3w7qDhIN/urpiOnQAneADDxQrNzzCxPSYoYsw3vQEQF23g1bpJVcZ0iln3wgdqQlA3To6ApsU \
    B+DfE0LHxygFVMfGrkCe0AXixI29IE0AhAmAMIEwqQpoAmAjHyvQhKAVAteEwKgCeh/wU+g0/HGAVAF+ChPldhh34HDwT1dXjQ0dwCb4xAPTlBsRY \
    WnsnKGPMN/tAkB9v4M16aUwGdKpaH4QejILgLn3dIRmMQJA/CwIvZijFDB9M/cF8oQtECfuzQvSBECYAAgTCIupgBaAZhZzBZYQrEEQlhAaqoDeB+ \
    IUegt/HCBVQJzCQrkdZoKTdIBd/QJ8a4niFJ3FgAAAAABJRU5ErkJggg=="); }
  a.revision { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHc \
    EyQkJD/oAD/AAArEFxwAAAAAXRSTlMAQObYZgAAAThJREFUeF7tkrGNhTAQRA2IxAnJ0cOJGr4EJRB4+3EphNZWQUkUYMnndJ8O8RMyj5x4JK/n7a \
    77R01zgCFi790+bsYYt263JZyzRX7qoTEHGrLhyRxYNPDbGcGqi+jdBrhnQBEAigBQJLxn8FsGY3TCEZ8NQgtHNlkwhjFwUDsNDvtmHbgwXCmCAe5 \
    rNTUtCYaqvfeHj8bwsT9sCedskd96aCyJhkY8WRKKmrK+JnELg/mI6H0E3DOgKgBVAaia3jP4LYMxOuGIzwZhcp5NVozBJw7qoMFh36wDF4YrRTDA \
    fa2mpjXDKMXeh2s6jTGdw2VLOGeNTz001kyjnHiyZhbN/HZFsOoi+nAC7hmwFACWAsBS8nsGv2UwRicc8dkgtHBikwvGMGUO6qJxM2ysAxYGwQB2t \
    5ZU0x964Kvp4744vQAAAABJRU5ErkJggg=="); }
  a.filelogs { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHc \
    Ez/oAD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAd9JREFUeF7t0tGJrTAQBuA/yRUusuCL9iDWIJjtIID2E7aSPIpVBLahFCC4iUAymfOyB/bRfy \
    DAx0CYYfCLPLliAkpUgpNAd6UQWO7HF5hvCBxODtcL+Bq6K9SgOAAnh/lNCDV0CB4gsMAHdRE44c/lChlUUH65SsvceeW7UFYyL1BYEFTIHUHhjJV \
    BnR1CrDn/cnWqhu5D+QhdBsUBCU4KiLBw6DwD5RcCCICfGeCkMCeksAAq0HO4x6cH802PKEEgK8SSAH+WJ0+2GIMSkWAl0GwpBIb70QX6GwyHlcP2 \
    ArqGZjM1CA7AyqF/E0wNDYwGCAzQRmwEVuh12EwGYYQettLSN1roxpSV9AMEBhhhcocRWGNlEGsDE6vPv2yNqKH5J3SEJoPggAQrBUQYODSagdADA \
    RhA9wywUugTUhgAYeg53OPTg/mkR5TAkBViSIA/y5MnR4xDiUywE2iPFALT/dgC4w2Ow87heAFbQ3u4GiQHYOcwvgmuhhbOAgQmWCcPAjvsPh0ug3 \
    TSTkdpGVsrbevKSsYJEhOcdLnDSeyxMsi9hYs15l+OVtbQ/pc2QptBckCCnQIiTBxay0DaiQAcYEcG2CmMCSlMgHT0HO7x6cF80SNK4MgKMSXAr/L \
    kByZ5zdW70XIMAAAAAElFTkSuQmCC"); }
  a.filerev { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcE \
    z/oAD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAYVJREFUeF7t0j2OgzAQBeAHrKWVtZJThD5lRJUDRIIjUOD7cBRK5FNwJA5gyeu4mZ8UKE0qXsP \
    ok9FM8fCeM0g5ERSXXmHQF9gIytzvBLE8ixrSG2wadg1RgktJQqMB6LfP4HEADvtDwBN7z6GJGTYGbsfmdgZ53JrIIKHZkMQLBW5v4KLY0kBsQXIQ \
    d6B3eApwDvJ0/AES8D2gwtCHVypFVTpWhyZR645z5ozPmUAx/hUGbYGBoMztSDCVZ5MG/waDhlHDJMF4L6HSALTDZ3A5AIPxIuCKseVQTRkGBmbEY \
    EYGeRyqiYFHNcCLFwrMWMFMYksFsQXeQNyB1uAqwBjI0/EDSMD3gApDH14pP6nSsTpUnlp3nDNnQs4Kig2vMOgKzARl7haCtTxbNYQ3mDUsGlYJNg \
    QJtQagmz+D2wFYLDcBdywdh3rNMDOwC2a7MMjjXK8MAuoZQbxQYJcadhVbaogtCBbiDnQWdwHWQp6OX0ACvgdUGPrwSoVVlY7VoQ7UOpkz/+HXCyh \
    p+UmkAAAAAElFTkSuQmCC"); }
  a.filediff { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHc \
    Ez/oAD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAbtJREFUeF7t0jFug0AQBdCxLRoaUpg+pUWVA1iCJj2R2PtQ5xQoFdpTcINcBSkt0ubPStjz1x \
    KRU/MLxDztzE6x8pg9IQSqC8BkoQbMBDi0WEBxIpgBAYMmgm/MIfgJYTEgWgULtcJkQK6AeRu07QanKUK4w6xQGFgAkBV07RTmq7wRoGUG2BknAN1 \
    Sh6WgPUIIBW1ap1AswiBzCtcU5AlY4sdAHZB5CwqFycBJQQys/wzaUhuIbfRIHqCON/0ne/Y456jOAI2FEtAS4FBnAcWBoAU4DGoI3jGH4MO5zoBo \
    5SyUCo0BOQPabdC2GxyaCO4OrUJmoANAVtC1U2jP8kKAlhZgZxwAdEvpuoz2cM5ltGmZQtYJg7QpnFOQJ6CLHwOlQ9otyBQaAwcFMbD+M2hLaSC20 \
    SN5gDLe9J/s2eO9pzoH9BYqwECAQ6MFFEeCAeAxqCf4xByCL+9HA6KVt1Ap9AbkAhi2QdtucOwj+DsMCrmBEQBZQddOYbjIKwFaBoCdcQTQLZUfc9 \
    rDe5/TplUK+SgMMqRwSUGegDF+DFQeGbYgV+gNHBXEwPrPoC2VgdhGj+QBqnjTn9nzC29ZBLawbb0QAAAAAElFTkSuQmCC"); }
  a.blame { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/ \
    oAD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAgRJREFUeF7t0jGq4zAQBuCRHUEQAW0R91uGVHuAQOQivRbs+wiX7xRiK+NTCHyAXEXwWoN3pEYzd \
    vMgrX/c+PPwe4qBfY7oFUPhmSAQWFNiea8zLKQi5h4CIUPYQtzCwgGbdxAYwA5Afwr1FvSFQR21DhSe4VIvFBZ4wKrL6u+IoEMsEyv8gRXWAvi1jp \
    c1kL9EVB3JHvjM88KgDpFOpF0fwODx1BziEhjU83dkoPWbTeQKBnF5cJhjZB31XM+lIyKEJzo5mBmWZ6An9V7jyo5OrzW9KYRU/aMcOSJ7DIUmgSH \
    Qp9jyLjJ0pMLmHgImg9mC3ULHAZt3YBjADkB+CmIL8sRAWCkNhcacREehgyv0sqz+sgjS2DLRwy/ooS+AX4U99Yb8xaJKS/bAp207BsJYOpF2vQKD \
    ayM52M4wEO1fy0DKF5vIFQxsd+XQWss6RCva0mERTINODqaFrjH0pF697dnRyV7Qm0JI1T/KkSNqwlC4J3AEphRf3qsMI6nwuYeAy+C24LcwcsDmH \
    TgGsANQn0K1BXVmUHmlHIW7O1cjhRFuMKmy+pdHUM6XiQl+wwRTAfxa+fPkyF88qvJkD3yGYWRQOU8n0q43YHC7Kw5+dAyq4Z9noNQXm8gVDPx44z \
    B4zzqqoRpKh0dwd3RyMAOMd0dP6mvyEzs6NVX0phBS9T5H/gMDLwqS3AIn/QAAAABJRU5ErkJggg=="); }
  a.back { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/o \
    AD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAXdJREFUeF7tksGNhDAMRXdmxIULJ5qgCSiBw6YfSuG4ShWURAErZaN4om94KzQF8CWAPNk/ceyvf3 \
    UrpeN6TOnXr18pazsGWIgc7FHGZq+qrkSPuyx2w7LYLFEW4gbesWMF3V6/Drw2gRLabSVVYDyD5EGycvOPQFfKd2A8g3QJlEJTbIuD8egsjuXzgni \
    FvGS1AY1CK9lsjgMHhiPFoZPL57p1K4Tjug/h268fIWs6BliIHOxRxmSvqqZE97MsZsOymCxRFuIG3rF9Bc1cvw48JoES2kwlVaA/g+BBsHLzj0BT \
    ynegP4NwCZRCU2yLg/HoLI7l84J4hbxktQGNQivZbI4DB4YjxaGTy+e6dSvG43qI8cevnzFrOQZYiBzsUcZir6q2RA+rLFbDslgsURbiBt6xQwXtW \
    r8OPBeBEtouJVVgOIPoQbRy849AW8p3YDiDCHCRQlNuq4Px6CgO5eOCcIW8ZLaBjWIr2WyOAweGI8Whqw7QrT+G6yGc41S1TAAAAABJRU5ErkJggg \
    =="); }
  a.zip { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/oA \
    D/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAASNJREFUeF7t0UEKhSAQBuBU2rRp1SW6RHWDgLxPdJKW4SmCLtQBAp+CwsxfBLwgAvxB0A8H1cn+TEp \
    jAaxdvwjKWhAP8BR7MCit3Rmoi1PwPw6AcqcLV678iNiESXk8gdJum93pjmbbdg4K4FC8RO0OVgLl6krwlHvAi9mQM9CusM5EyF5MSkqlAbRuvwhC \
    axAP8BQ9MMi17hmIi1PwPwaAvKcLVy78iFiFST48gVx3ne7pjqrreg4CYBC8RPQOWgJ560rwlHvAi+mQM9CusM5EyF5MSkptAIwZvwjSGBAP8BSzM \
    CiMmRnIi1PwPxaAYqYLVy79iFiHSbE8gcJMk5npjnqaZg4SYJG8RM4ORgLF6ErwlHvAi5mQM9CusM5EyP5Iyg9mVhxijKFHugAAAABJRU5ErkJggg \
    =="); }
  a.raw { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/oA \
    D/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAT9JREFUeF7t0T2qhDAQB3A/sLHR4tlbPqw8wAPdYnsfZO4jW+4p5FVhTiHsAfYqwraBeQoKmVEsVlg \
    s8g+B5AdDPsZ7My4VCSDqzwghkZAJxFPIMEiIBgbhxinyP4yAZLA3Y3k4zQWreZGYI0BDEj6fFgymenD4EUDD60HEgAZjWImEqudQVn1ZljsXozlr \
    sLvCOrOA98G4uGQgAKA+I/gAQiYQTwHFIAJoGPgbp8j/UAKixt6M5f40F8zmRaSOADSRf71a0KjswuFLADS/FwAG0CjFSiRkNYc0q9M03bkYzFmD3 \
    RXWmQW8D8bFpUABiO0ZIUAUMoF4CmoGMWLHINg4Rf6HFhB39mYsD6a5YDEvYn0EsIuD+92CThc3Dt8CsPu7ITLATmtWIqFoOeRFm+f5zsVwzhrsrr \
    DOLOC9EZd/lLgrDtNQPhoAAAAASUVORK5CYII="); }
  a.leatest { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcE \
    z/oACQkJD/AAAnDNPpAAAAAXRSTlMAQObYZgAAAW9JREFUeF7tkcGpxSAQRSfv4caNm58ePqnhQ1KCi9iPpbgMVmFJFhDwz87ci5AHb5tBBA/McM8 \
    og3pqOQjkjO9XzhGAzTnhiJyPO6CEQY7UsiQCciBIsmCOKDZCUr0iydl0J3hYEkyvhCAK+ej5AvShBBIHSxw9ktx1BOu/ksUF2ahiFkMdki/gV489 \
    ECw5MRBqYVMW6/vswUZ/AnKf11NPzTuBEPA9hbABMCF4HDEAOwElDMJGLbPnoTuDGXNsYjZIqtcFSNAB5lZwNyToJ49gE/LR8wXoQwl4DoZAYGczy \
    7H+5A0uyGwqZjDULuECfvSYHcEcPAOhFjZlsb7PHmz0JyD3eT311HoSaA3f79YKANdaxREDcBJQwqAValkrDz0ZrJijiCuQVK9yddEBrt4Jno4E67 \
    siKEI+er4AfSiBysEqRy/4c+46gvXf1eGCXFExh6FOaRfwp8edCNZWGQi1sCmL9X32YKM/AblxPfUP4V+x5dasylAAAAAASUVORK5CYII="); }
  a.rss { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/oA \
    D/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAWVJREFUeF7t0jGuwyAMBmADypIlb8n+5kzvBuEIGeL7cBTGyKfgSBwgEg+puKqNqlZqx/xi4RO2JWT \
    oc2Utt/DdlZbUYGLIqqKcDIlLG9ybfQQuKZhK0lA6SAKqnBJgLQpcSaJHhpIF1HNKyE5BcUWNTSWJKSWtEtasYDqn/Aink+CKgqlAJfHiFcAfrC53 \
    v/5dUOvQL8z0FDK0MMA7uXJlxlv4brDFNxgYNlWBO4Pn0gb3Zh+B8QoG9BqwAy+gyi4BZlRg0IseG+AmoJ5dwmYUoEE11qMXU9DPEuZNwbAP2yPsR \
    oJBBQNCJfHiFcAPzGbrfv27oNahX5hBQb9jwADv5MqVhW7hu6WW0GBkiKqCDobApQ3uzT4CGxSMFDRQB0FAlUMCLKTAUhA9IlAUUM8hIVoFZEmNDR \
    TEFAqLhCUqGI8xPsJhJVhSMBJUEi9eAfzCYmP3698FtQ79woxPIUILA3S58g9JfnCGkgp/FgAAAABJRU5ErkJggg=="); }
  a.atom { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/o \
    AD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAe5JREFUeF7t0r2t7CAQBWAD2mSTfYnzFzu6HZgSHEA/lOIQUQUluQAk3hxW7IDnBbeAHflH/qwDIz \
    HLf+tbtd6/Z3kBrgF2QOFvg7+vmjnR8kNmL/xsVfM7yMCvVqaY3DK5r1loB8DV4aLG8O6wZ4KM6AeokzICbmRGMDUzVCyHxisDXWWGy9ygmjoCSa6 \
    ZAXfeZ9ivG7wKtubGigFwp6bOkKkxIsNgZnhdAIQ6lOVn2c21dzClR8UxiIMSRykOW4yDHBg5UnLoWJbf17e+5f39e5YH4BhgBTj+Vvj78JYTLT9k \
    VsfPVt6+gwz8aqWcsi1j+5qOdgAcHQ5qDO8OqyWwiH6AOnEj4EZmBOUtg8dyaNwz0OVmONQNvPIjkFhvGXDbdYb1uMHDYWtuzCkAd6r8DJYaI1IMa \
    obHAUCog1v+LKs61g7K9ag4BnFQ4ijFYYtxkAMjR0oOHcvy+/rWt1K6f8/yBJwDbIDI3xp/nylwouWHzBb52SqFd5CBX6101KFlQl8z0g6As8NJje \
    HdYQsEAdEPUCdxBNzIjKBTYEhYDo0nBrriDKe+QdJpBJKQAgPusM2wnTd4RmzNjUUN4E51miFQY0SaQc/wPAEIdYjL32XT59ZBxx6VxyAPSh6lPGw \
    5DjwwYqTE0MmxlPWtf4BRL+5jDoF/AAAAAElFTkSuQmCC"); }
  a.less { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYCAMAAABsghXCAAAADFBMVEVHcEz/o \
    AD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAVtJREFUaN7tljkWhTAMAw3c/86/+03ieJESCjQt8hR5eDETQoiY5w9W3XI8E8DyimIoKBpm6YrBia \
    YNfi5nWKVShmUmIQgisQEVwAGKAHmk54DAQoGRBG4vf0jQf8R3fyTb3+/bu5E0kZ7eV85Qxce6v4GKq6m/2vDlOp42wIHAvVHOHlmEM08IIYQQYsL \
    1B6tuOa4JYHlFMRQUDbN0xeBE0wY/lzOsUinDMpMQBJHYgArgAEWAPNJ1QGChwEgCt5c/JOg/4rs/ku3v9+3dSJpIV+8rZ6jiY93fQMXV1F9t+HId \
    TxvgQODeKGePLMKZJ4QQQggx4f6DVbcc9wSwvKIYCoqGWbpicKJpg5/LGVaplGGZSQiCSGxABXCAIkAe6T4gsFBgJIHbyx8S9B/x3R/J9vf79m4kT \
    aS795UzVPGx7m+g4mrqrzZ8uY6nDXAgcG+Us0cW4cwTQnyOH70QDUuhRfpwAAAAAElFTkSuQmCC"); }
  a.more { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/o \
    AD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAW9JREFUeF7tksGthDAMRLO74sKFE03QxFICh00/lMJxlSooiQKQ8nEMsaP5UVbimpEg4ckZBXvMf6 \
    p6eb8mwB/S3x2BTRcEJQ4EV3Vi49eld6j2u1hsXCcWqyy84zWCbj+tNgW6LQLaMOj2LFgJiLnxOWAiMABe/tB6B6Bp4WJ49fLfYoM6L83HJuMYZGZ \
    vD6PEYetA0QOBwUilJRjLX1VV9bB2TIA9pL8bApMuCEocCI7qxMSvS32oth+xmLhOLEZZeMdrBM15uJ8UaKYIaMOg+WTBSEDMjc0BE4EB8LCHxjsA \
    TQsXw6uX/xYb1FhpPjYZxyAz6y2MEoetA0UPBAYjlZZgLH9VVdXTuTkB7pD+bgksuiAocSA4qxMLvy4Nodp9xWLhOrGYZeEdrxG05+FhUaBdIqANg \
    /abBTMBMTcuB0wEBsDTHZrvADQtXAyvXv5bbFDrpPnYZByDzGxwMEoctg4UPRAYiBSEDmKJqvoDAUg6nqNpuvIAAAAASUVORK5CYII="); }
  a.backward { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcE \
    z/oAD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAY9JREFUeF7tks2NgzAUhBfQXvaypzSRJkIJHEI/lOJj5CooyQVE8jI2T2+sWaEU4DkA/vDY7+/ \
    rP3VNOe8NyId4/QuQCDwA3s0JcO3k2EGTO97+LMqp7nOw15P8TObYe5ofyUDyt/2ZUtlpYK/fE4Ep7wSwyInuzRYmA3gYwMOgeARcWSx3vVYC49At \
    F0lO09cCaQm1yBO3QRulrdRm6zhgAelIkQB0LD9VV9ewrnMD1kO8/gZYCNwAns0JcM3kmEHdc3v6swj/sM/BXE/yM5lj72m+LQYWf9ufYSk7Dcz1e \
    yAwrDMBLNaF7l0tTAbwMICHQfEIuLJY7nqtBMahWy6SnKavBdISapEHboM2SlupzdZxwALSkSIB6Fh+qq6uMcatAfEQr38AAoE7wKs5Aa6NHBtocM \
    fLn0Ux1H0OtnqSn8kce0/zPRgI/rY/Yyg7DWz1eyQwxo0AFjHQvdHCZAAPA3gYFI+AK4vlrtdKYBy65SLJafpaIC2hFnnkNmijtJXabB0HLCAZKRk \
    6HUtV1x/vkRQ0sCXgbAAAAABJRU5ErkJggg=="); }
  a.forward { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHc \
    Ez/oAD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAYxJREFUeF7tks2tgzAQhF8SceHCiSbSRFwCh9CPS+EYUYVLooBIPMZmNWuNhFKA5wDis2fZvz \
    +Kanrse6rAfsh/DwCbAy+AbxUBruQcCXSj48tnFs5wjyCVSIxJnjWc5tdmYOObJ0PCzROkQh8ECJwAGH3YAQ1YmgRwVAAOD+BQcGmxDuhvJTFfC1O \
    X4qR8aZC0UJvMMSQZlIxShq3rYNqzdKWcAHQtf1VT022eQwXmQ/67A5gcGAHeVQS4gnMEUHrGN59ZOMM9glAiMSZ5Vneax8nAxDdPuoCbJwiF3ggQ \
    OAAwejcDGrA0CeCoABwewKHg0mId0N9KYr4Wpi7FSfnSIGmhNpljCDIoGaUMW9fBNGfpSjkB6Fr+qqam+7rGCqyH/HcPsDjwBPhUEeCKzhFBFzo+f \
    GbhDPcIYonEmORZ/Wl+LgYWvnnSR9w8QSz0ToDAEYDR+xXQgKVJAEcF4PAADgWXFuuA/lYS87UwdSlOypcGSQu1yRxDlEHJKGXYug6mNUtWSpZO11 \
    LV9A90MxHi6lSQeAAAAABJRU5ErkJggg=="); }
  a.head { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/o \
    AD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAXZJREFUeF7tksGJwCAQRScJueSSy9rDYg0LWkIO2o+l5ChWYUkWILge878hpIDMQfDBd+YNyk19tR \
    cCreF9aS1jojXMmBtQGbTKoGWKmMqPVm5rEGTZM0zaD3i1vhI0JFiWgiAL+Yj8MTADeI7sIpW7YNul8OzdmOQqiS0Z8rigPXexHYcq0i6gj1j3isC \
    0wgDFxuXw+hYSqyaz2Pgt39dXX60HAe/xPnlvMeE9ZtQNcAy8Y+AtRZTjRx23VQisrBYm7Qe86l4JKhI8pgOBFfIR+WGgBvAcWUUcd8G208Gzd2OS \
    cyQ2WcjjglbbxVYc6hB/AX1EtzoEyh8MUGxcDq9vIjGnLIuN3/J9ffXVdhJICe9zSgETKWFG34DIIEUGKVBER340cluNIMgWYNJ+wKvxlaAmwXM+E \
    QQhH5FfBnoAz5FNJHIXbDufPHs3JrlIYnOAPC5oC11sw6FOSRfQR4xbRKDTyQDFxuXw+mYSizqw2MO3hPrqH8DAsan8zHOaAAAAAElFTkSuQmCC"); }
  a.dir { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/oA \
    D/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAKJJREFUeF7tkbEJxDAMRZ070qRJlSW8hDOEtU/GCZoigxl0lX3oCzeHDzd6lfTgI8EPv+CIPGrfRYo \
    SSUQgARkrKg+K0hUBhtLuzxMubC8Jm9tRvKH9/+M4RKfaV6KsxEFEkICMFZUTRe6KAENu9+cJF7aXA5tbUSzQ/nAch/lS+8Z8KxGZGRKQsaJyobi7 \
    IsDQnojzhAvbS8TmNhSvb/sDcD5O69aly4Qh6wAAAABJRU5ErkJggg=="); }
  a.file { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz/o \
    AD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAARNJREFUeF7t0r2NhTAQBOAD9JJLLqIJmoASCOx+KIXQchUuiQIs+ZYN2PXwJAuBROIJ/PPJkjeYny \
    +pSZSo7n9pj4KRIQjwedwEIj+LCOkEAWFDiBp4mBw6AMoYDqDn8SLwehfo2IXsF8pWhofn6N6dA0EKI5uuVIpQOlWHLknryqmpsRSj7h+7R0HPMAn \
    wuZ8FDD8zCPYEE8KMYDTwMDk0AJR+OoCem4vA612gYzNlv1DmMjw8R/PuHAhSGNl0payB0qk6NFa1DlNT4ylO3X/9HgUDwyLA52EVcPzMIfgTLAgr \
    gtPAw+TQAlCG5QB67i4Cr3eBju2S/UJZy/DwHO27cyBIYWTTlfIOSqfq0HppXSE1/7TvMOqLJJyMAAAAAElFTkSuQmCC"); }
  a.parent { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEVHcEz \
    /oAD/AACQkJBwLT2RAAAAAXRSTlMAQObYZgAAAXhJREFUeF7tkc1pxEAMRv2DL774tE1sE+t0EMDqx6SSHI2qMKShFGBQNMuwzBOBwezVYoDRg+8h \
    pOb/uuoRge3se/slmOwIit0IzBEURzNB4p0zKDxFRYJQpBgUiVIBiWUMRQ6Wv+l4KczSHFYCn7QAUwbFIL0Db8+Aaa8Df1xQBP4ALN7yeDKu8Khcw \
    Vl07lT0FhQPKGzvDQn7MSYM22vyet+qq666RSAz+1Y+CQZZgmIWAnEExdIMkHjnDApPUZEgFCkGRaJUQCIZQ5GD5W9YXgqRNIeUwCctwJBBMUjrwN \
    szYJjrwB8XFIE/AIm3XJ6MK1wqV3AWnTMVrQTFDQqZW0FCPoQJwfaavN636qqr7hHoyr7Tb4JRt6BYlUAdQbE1IyTeOYPCU1QkCEWKQZEoFZBoxlD \
    kYPkbt5dCNc2hJfBJCzBmUAzSOfD2DBjXOvDHBUXgD0DjLbcn4wq3yhWcRedKRadBcYdC106R0C9lQrG9Buut1VV/NCi3B6jMRAMAAAAASUVORK5C \
    YII="); }
  a.props { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAADYAgMAAAAmMg1jAAAADFBMVEUAAACQ \
    kJD/oAD/AAAVT7fSAAAAAXRSTlMAQObYZgAAAYdJREFUSMft0TGOwyAQBVDslRsaN/ElOMNKdor0rGTuY225p6BEnCJSDpCrWEqLxAaYnYEURBs5n \
    X9hy8/GMwxszyvpVAyBSpEM0gDMCPAKoZvSfdgWhlB1qkET2nqlCqtAg8OgsrIOcWyNJICxPQE5Hx7godPuqIYpB3VSp7mATh1zaOTQTQXMCLSk/M \
    dwryLxbONFDtnpz9AYJGyj+VIEg5ppc7gOilAOzcT27HlThA0x+NzalOUPOIBGSK9aBAF3sy3YkCrw0NYrVVgFOA6Dyi51uKc1HE3A2MwT+Na6hOW \
    hU8GNzaG1wgqdgxGW58AXI9oCNAItETkwyw3uhy+xscVkp6+LxtqwDf5jEFj8ImgeDkUomrM9e96VDx9zRhgTOAQPQXDwIf5iTff+vCn0oehaAxbg \
    n1UgFcBhUFlXhziNsysBhloBN/ashLzTePHXNYfx5m++gItfC3D9ZR1z8Ai0pPxHf6/iirN1n6kP6DoowRi24fwVofceN0eBIpSerWzP8/wChycJP \
    CvaLpcAAAAASUVORK5CYII="); }



