<div class="count"><span class="title">Total:</span> {repos-count:}</div>
<ul class="submenu">
  <li>
    <a class="create" href="{url:}?lang={lang:urlescape}&cmd=create" title="Create a new repository">Create</a>
  </li>
</ul>