<div class="count"><span class="title">总计：</span> {repos-count:}</div>
<ul class="submenu">
  <li>
    <a class="create" href="{url:}?lang={lang:urlescape}&cmd=create" title="创建一个新的版本库">创建</a>
  </li>
</ul>