<tr class="parity{parity} data-id="{lineid}">
  <td class="rev link right">
    <a href="{url:}?lang={lang:urlescape}&cmd=rev&repo={repo:urlescape}&rev={rev:}&path={path:urlescape}"
       class="revision" title="Revision {rev:} information">{rev:}</a>
  </td>
  <td>{date:localdate|date^shorttime}</td>
  <td>{author:unicode|escape}</td>
  <td class="lineno"><a name="{lineno:}" title="Source line {lineno:}">{lineno:}</a> </td>
  <td class="source">{source:escape}</td>
</tr>