<ul class="submenu">
  <li>
    <a class="summary" href="#overview" onclick="foldTable('path-overview', true);" title="File overview">Overview</a>
  </li>
  <li>
    <a class="blame" href="#annotation" onclick="foldTable('anno-list', true);" title="File annotation">Annotation</a>
  </li>
</ul>