{header%header}
{path-overview%path-overview}
<br />
<a name="annotation"></a>
<table id="anno-list" class="bordered">
  <thead>
    <tr class="up" onclick="foldTable('anno-list');">
      <th colspan="5">Annotation</th>
    </tr>
    <tr>
      <th class="rev">Revision</th>
      <th class="date">Date</th>
      <th class="author">Author</th>
      <th class="lineno">Line No.</th>
      <th class="source">Source</th>
    </tr>
  </thead>
  <tbody>
    {anno-list#anno-entry}
  </tbody>
</table>
{footer%footer}
