<div class="count"><span class="title">Total:</span> {files-count:}</div>
<ul class="submenu">
  <li>
    <a class="dir" href="#overview" onclick="foldTable('path-overview', true);" title="Directory overview">Oerview</a>
  </li>
  <li>
    <a class="files" href="#files" onclick="foldTable('files-list', true);" title="Files list">Files</a>
  </li>
  <li>
    <a class="props" href="#props" onclick="foldTable('props-list', true);" title="Directory properties">Properties</a>
  </li>
</ul>