<div class="count"><span class="title">总计：</span> {files-count:}</div>
<ul class="submenu">
  <li>
    <a class="dir" href="#overview" onclick="foldTable('path-overview', true);" title="目录概要">概要</a>
  </li>
  <li>
    <a class="files" href="#files" onclick="foldTable('files-list', true);" title="文件列表">文件</a>
  </li>
  <li>
    <a class="props" href="#props" onclick="foldTable('props-list', true);" title="目录属性">属性</a>
  </li>
</ul>