<tr class="parity{parity:}">
  <td class="link">
    <a href="{url:}?lang={lang:urlescape}&cmd={kind:}&repo={repo:urlescape}&rev={rev:}&path={path:addslash|urlescape}{name:urlescape}"
       class="{kind:}" title="路径信息">{name:escape}</a></td>
  <td class="size" data-size="{size:}"><span data-kind="{kind:}">{size:sizefmt}</span></td>
  <td class="date" data-value="{last-date:localdate|date^shorttime}" data-timestamp="{last-date:}">
      <span data-kind="{kind:}">{last-date:localdate|date^shorttime}</span></td>
  <td class="rev link right">
    <a href="{url:}?lang={lang:urlescape}&cmd=rev&repo={repo:urlescape}&rev={last-rev:}&path={path:urlescape}"
       class="revision" data-kind="{kind:}" data-rev="{last-rev:}"
       title="版本 {last-rev:} 信息">{last-rev:}</a>
  </td>
  <td class="author">{last-author:unicode|escape}</td>
  <td class="actions">
    <a href="{url:}?lang={lang:urlescape}&cmd=logs&repo={repo:urlescape}&rev={rev:}&path={path:addslash|urlescape}{name:urlescape}"
       class="filelogs" title="文件日志">文件日志</a>
    <a href="{url:}?lang={lang:urlescape}&cmd=zip&repo={repo:urlescape}&rev={rev:}&path={path:addslash|urlescape}{name:urlescape}"
       class="zip" data-kind="{kind:}" title="下载文件夹">下载文件</a>
    <a href="{url:}?lang={lang:urlescape}&cmd=raw&repo={repo:urlescape}&rev={rev:}&path={path:addslash|urlescape}{name:urlescape}"
       class="raw" data-kind="{kind:}" title="下载文件">下载文件</a>
    <a href="{url:}?lang={lang:urlescape}&cmd={feed:}&repo={repo:urlescape}&rev={rev:}&path={path:addslash|urlescape}{name:urlescape}"
       class="{feed:}" title="订阅路径日志">订阅</a>
    <a href="{url:}?lang={lang:urlescape}&cmd=files&repo={repo:urlescape}&rev={rev:}&path={path:addslash|urlescape}{name:urlescape}"
       class="files" data-kind="{kind:}" title="文件列表">文件列表</a>
    <a href="{url:}?lang={lang:urlescape}&cmd=file&repo={repo:urlescape}&rev={rev:}&path={path:addslash|urlescape}{name:urlescape}"
       class="filerev" data-kind="{kind:}" title="文件内容">文件内容</a>
    <a href="{url:}?lang={lang:urlescape}&cmd=diff2&repo={repo:urlescape}&rev={rev:}&path={path:addslash|urlescape}{name:urlescape}&kind={kind:}"
       class="filediff" title="比较路径">比较路径</a>
    <a href="{url:}?lang={lang:urlescape}&cmd=anno&repo={repo:urlescape}&rev={rev:}&path={path:addslash|urlescape}{name:urlescape}"
       class="blame" data-kind="{kind:}" title="文件注释">文件注释</a>
  </td>
</tr>