<link href="{static:addslash}vs.css" rel="stylesheet" type="text/css">
<link href="{static:addslash}lineno.css" rel="stylesheet" type="text/css">
<script src="{static:addslash}highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="{static:addslash}markdown.min.js"></script>
